---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import {IoArrowForward} from "react-icons/io5"
import MasterHead from "../components/MasterHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title="{SITE_TITLE}" />
    <main class="max-w-full">
		<MasterHead/>
      <Content>
        <section>
          <p class="mb-8 indent-4 text-justify p-4">
            I'm a passionate Full-Stack Developer with a heart that beats for
            Frontend Engineering and UI/UX Design. I believe that great software
            isn't just functional—it's beautiful, intuitive, and creates
            meaningful experiences for users.
			<a href="/about" class="inline-flex items-center gap-1 indent-1 text-orange-500 cursor-pointer">Press to know more <IoArrowForward/></a>
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
