---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { IoLogoGithub } from "react-icons/io5";
import ThemeToggle from "./ThemeToggleButton";
---

<header class="fixed w-full item-center p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-full">
    <nav class="flex items-center gap-12 text-base">
      <h2 class="font-semibold tracking-tighter p-2 text-lg">
        <a href="/">{SITE_TITLE}</a>
      </h2>
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="#" target="_blank">
          <IoLogoGithub />Source</HeaderLink
        >
      </div>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>

<style>
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
</style>
