---

---

<section class="relative mb-6 h-100 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <video
      class="absolute inset-0 min-w-full min-h-full opacity-70"
      poster="/src/assets/code-master.webp"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
      playsinline
    >
    </video>
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black text-white">
    <div class="uppercase text-sm mb-4">
      Welcome to <strong>My Story</strong>
    </div>
    <div class="text-2xl font-mplus font-medium">
      This blog is <span class="text-orange-500 uppercase"
        >my personal corner</span
      > of the internet
    </div>
  </div>
</section>
